.vscode
etc/openvpn/*
etc/jupyter
storage/*/*
storage/*/*/*
etc/ssl/certificates/*
!.keep
commands.txt

etc/mednafen
etc/retroarch
.history
*.mxt3
.env
*.local.mk
.vagrant
tmp.*
*.pyc
docker-compose.yml