---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      # - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  # - repo: local
  #   hooks:
  #     - id: build_docker_image
  #       name: build_docker_image
  #       entry: bash -c "docker-compose build && docker-compose push"
  #       language: system
  #       always_run: true
  #       pass_filenames: false
  #       stages: [commit]
